body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #00c6fb, #005bea);
    font-family: 'Arial', sans-serif;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .title {
    font-size: 4rem;
    font-weight: bold;
    font-family: "lemon";
    display: inline-block;
    animation: titleAirplaneSync 2s ease-in-out forwards;
  }

  .airplane {
    position: absolute;
    font-size: 3rem;
    animation: airplaneMotion 2s ease-in-out forwards;
  }

  @keyframes airplaneMotion {
    0% {
      top: 210%;
      left: 0%;
      transform: rotate(-48deg);
    }
    100% {
      top: -40%;
      left: 85%;
      transform: rotate(-45deg);
    }
  }

  @keyframes titleAirplaneSync {
    0% {
      font-size: 4rem;
    }
    25% {
      font-size: 3.8rem;
    }
    75% {
      font-size: 3.8rem;
    }
    100% {
      font-size: 4rem;
    }
  }